<h1><%= @director.name %></h1>
<p>See you soon for his/her movies...</p>

<%= link_to "Edit a director", edit_director_path(@director) %>
<%= link_to "Erase this director", director_path(@director) %>
<%= link_to 'Accueil', directors_path %>
